<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>test.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <servlet-class>test.servlet.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <url-pattern>/UpdatePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateClassServlet</servlet-name>
    <servlet-class>test.servlet.UpdateClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClassServlet</servlet-name>
    <url-pattern>/UpdateClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SRegisterServlet</servlet-name>
    <servlet-class>test.servlet.SRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRegisterServlet</servlet-name>
    <url-pattern>/SRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TRegisterServlet</servlet-name>
    <servlet-class>test.servlet.TRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TRegisterServlet</servlet-name>
    <url-pattern>/TRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SShowInfoServlet</servlet-name>
    <servlet-class>test.servlet.SShowInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SShowInfoServlet</servlet-name>
    <url-pattern>/SShowInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TShowInfoServlet</servlet-name>
    <servlet-class>test.servlet.TShowInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TShowInfoServlet</servlet-name>
    <url-pattern>/TShowInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CShowInfoServlet</servlet-name>
    <servlet-class>test.servlet.CShowInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CShowInfoServlet</servlet-name>
    <url-pattern>/CShowInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteLibraryServlet</servlet-name>
    <servlet-class>test.servlet.DeleteLibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLibraryServlet</servlet-name>
    <url-pattern>/DeleteLibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLibraryServlet</servlet-name>
    <servlet-class>test.servlet.AddLibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLibraryServlet</servlet-name>
    <url-pattern>/AddLibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditQuestionServlet</servlet-name>
    <servlet-class>test.servlet.ShowEditQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditQuestionServlet</servlet-name>
    <url-pattern>/ShowEditQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditQuestionServlet</servlet-name>
    <servlet-class>test.servlet.EditQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuestionServlet</servlet-name>
    <url-pattern>/EditQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublishQServlet</servlet-name>
    <servlet-class>test.servlet.PublishQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishQServlet</servlet-name>
    <url-pattern>/PublishQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckTestStateServlet</servlet-name>
    <servlet-class>test.servlet.CheckTestStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckTestStateServlet</servlet-name>
    <url-pattern>/CheckTestStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckQtbNullServlet</servlet-name>
    <servlet-class>test.servlet.CheckQtbNullServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckQtbNullServlet</servlet-name>
    <url-pattern>/CheckQtbNullServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreAnswerServlet</servlet-name>
    <servlet-class>test.servlet.StoreAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreAnswerServlet</servlet-name>
    <url-pattern>/StoreAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowQToStudentServlet</servlet-name>
    <servlet-class>test.servlet.ShowQToStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQToStudentServlet</servlet-name>
    <url-pattern>/ShowQToStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowQAToTeacherServlet</servlet-name>
    <servlet-class>test.servlet.ShowQAToTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQAToTeacherServlet</servlet-name>
    <url-pattern>/ShowQAToTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterTestStateServlet</servlet-name>
    <servlet-class>test.servlet.AlterTestStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterTestStateServlet</servlet-name>
    <url-pattern>/AlterTestStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterTestTimeServlet</servlet-name>
    <servlet-class>test.servlet.AlterTestTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterTestTimeServlet</servlet-name>
    <url-pattern>/AlterTestTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPTestCard</servlet-name>
    <servlet-class>test.servlet.ShowPTestCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPTestCard</servlet-name>
    <url-pattern>/ShowPTestCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoMarkServlet</servlet-name>
    <servlet-class>test.servlet.AutoMarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoMarkServlet</servlet-name>
    <url-pattern>/AutoMarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoMarkResultServlet</servlet-name>
    <servlet-class>test.servlet.AutoMarkResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoMarkResultServlet</servlet-name>
    <url-pattern>/AutoMarkResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MarkAnalysisServlet</servlet-name>
    <servlet-class>test.servlet.MarkAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkAnalysisServlet</servlet-name>
    <url-pattern>/MarkAnalysisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentScoreServlet</servlet-name>
    <servlet-class>test.servlet.StudentScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentScoreServlet</servlet-name>
    <url-pattern>/StudentScoreServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MyScoreAnalysisServlet</servlet-name>
    <servlet-class>test.servlet.MyScoreAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyScoreAnalysisServlet</servlet-name>
    <url-pattern>/MyScoreAnalysisServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>